name: CI
on: [push, pull_request]
permissions:
  contents: read
jobs:
  build:
    name: ${{ matrix.platform.name }} ${{ matrix.config.name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - {name: Windows VS2019, os: windows-2019}
          - {name: Windows VS2022, os: windows-2022, -flags: -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=TRUE -DBUILD_SHARED_LIBS=TRUE}
          - {name: Linux GCC, os: ubuntu-latest}
          - {name: Linux Clang, os: ubuntu-latest, flags: -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++}
          - {name: macOS, os: macos-latest}
        config:
          - {name: Shared, flags: -DBUILD_SHARED_LIBS=TRUE}
          - {name: Static, flags: -DBUILD_SHARED_LIBS=FALSE}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
          disable-telemetry: true
      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Cpp
        uses: aminya/setup-cpp@9bc9b8cd8a8d678f920e4e1e73f29da8010ced51 # v1.7.2
        with:
          clangtidy: true
      - name: Configure
        shell: bash
        run: cmake -S . -B build -DCMAKE_INSTALL_PREFIX=install ${{matrix.platform.flags}} ${{matrix.config.flags}}
      - name: Build
        shell: bash
        run: cmake --build build --config Release
      - name: Install
        shell: bash
        run: cmake --install build --config Release
