name: CI
on: [push, pull_request]
permissions:
  contents: read
jobs:
  build:
    name: ${{ matrix.platform.name }} ${{ matrix.config.name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - {name: Windows VS2019, os: windows-2019}
          - {name: Windows VS2022, os: windows-2022, -flags: -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=TRUE -DBUILD_SHARED_LIBS=TRUE}
          - {name: Linux GCC, os: ubuntu-latest}
          - {name: Linux Clang, os: ubuntu-latest, flags: -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++}
          - {name: macOS, os: macos-latest}
        config:
          - {name: Shared, flags: -DBUILD_SHARED_LIBS=TRUE}
          - {name: Static, flags: -DBUILD_SHARED_LIBS=FALSE}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Cpp
        uses: aminya/setup-cpp@1f17f92d6a52bfcb1a25348e2c526c2e5cbb1134 # v1.8.0
        with:
          clangtidy: true
      - name: Configure
        shell: bash
        run: cmake -S . -B build -DCMAKE_INSTALL_PREFIX=install ${{matrix.platform.flags}} ${{matrix.config.flags}}
      - name: Build
        shell: bash
        run: cmake --build build --config Release
      - name: Install
        shell: bash
        run: cmake --install build --config Release
